# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# Logs
# =====================
*.log

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store
